html,
body {
	height: 100%;
	width: 100%;
}

body {
	font-family: 'Barlow Semi Condensed', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 16px;
}

p.lead {
	color: #99792f;
}

/* nav */
.navbar-default {
	background-color: #dcf5f2;
}

.navbar-default .navbar-brand {
	font-weight: 700;
	color: #99792f;
}

.navbar-default .navbar-brand > img {
	width: 30px;
	margin-top: -7px;
	margin-right: 12px;
}

.navbar-default .navbar-brand > span {
	color: #564e49;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
	background-color: #fff;
	color: #564e49;
}

/* sections */
section {
	padding: 30px 0 30px 0;
	margin-top: 0;
}

#intro {
	margin-top: 50px;
	padding: 50px 0 0 0;
}

/* footer */
footer {
	padding: 30px 0 20px 0;
	background-color: #f5f5f5;
	color: #564e49;
}

/* scrollup */
a.scrollup {
	height: 32px;
	width: 32px;
	color: #ffffff;
	background-color: #564e49;
	font-size: 18px;
	line-height: 32px;
	text-align: center;
	text-decoration: none;
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 9999;
	opacity: 0.5;
}

a.scrollup:hover {
	opacity: 1;
	color: #fff;
}

/* transitions */
header, nav, a, li {
	transition: all 0.8s;
	-moz-transition: all 0.8s; /* Firefox 4 */
	-webkit-transition: all 0.8s; /* Safari and Chrome */
	-o-transition: all 0.8s; /* Opera */
}

/* responsive */
@media (max-width: 767px) {
	a.scrollup {
		height: 28px;
		width: 28px;
		bottom: 12px;
		right: 12px;
	}

	section {
		padding: 10px 0 10px 0;
	}
}

dl.setting dt {
	width: 140px;
	text-align: left;
}

dl.setting dd {
	margin-left: 150px;
	color: #777;
}

dl.setting dd > span {
	display: block;
	float: left;
	width: 80px;
	color: #000;
}

dl.language {
	font-size: 85%;
}

dl.language dt {
	width: 20px;
	text-align: left;
}

dl.language dd {
	margin-left: 30px;
}

pre.prettyprint,
pre.prettyprint.prettyprinted {
	padding: 10px;
}

/* calendar demo */
.demo-calendar {
	min-height: 340px;
	background-color: #fff;
	padding: 10px;
	border: 1px solid #888;
	border-radius: 4px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
}

.demo-calendar.basic {
	min-height: 190px;
}

table.lightgrey-weekends tbody td:nth-child(n+6) {
	background-color: #f3f3f3;
}
